{
  "presets": [
    "next/babel",
    "es2015",
    "react",
    "stage-2"
  ],
  "plugins": [
    "transform-decorators-legacy",
    ["import" , [{ "libraryName": "antd" }]]
  ],
  "env": {
    "development" : {
      "compact": true
    }
  }
}